<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @character.content %>
</p>

<p>
  <b>Userid:</b>
  <%= @character.userid %>
</p>


<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
